.App {
  height: 100vh;
  padding: 30px;
}

.newsMe {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  width: 50%;
}

.navigationContent {
  display: inline-block;
  width: 50%;
}

.homeHeader {
  text-align: center;
  padding-bottom: 30px;
}

.appHeader {
  padding-bottom: 20px;
}

.topHeadlinesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topHeadlinesInnerContainer {
  width: 50%;
  overflow-y: auto;
  max-height: 67vh;
}

.articleCard {
  margin-bottom: 2px;
}