.App {
  height: 100vh;
  padding: 30px;
}

.newsMe {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  width: 50%;
}

.navigationContent {
  display: inline-block;
  width: 50%;
}
