.App {
  height: 100vh;
  padding: 30px;
}

.newsMe {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  font-weight: bold;
  width: 50%;
}

.navigationContent {
  display: inline-block;
  width: 50%;
}

.pageHeader {
  text-align: center;
  padding-bottom: 30px;
}

.appHeader {
  padding-bottom: 20px;
}

.topHeadlinesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topHeadlinesInnerContainer {
  width: 75%;
  overflow-y: auto;
  max-height: 67vh;
}

.sourcesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sourcesInnerContainer {
  width: 75%;
  overflow-y: auto;
  max-height: 50vh;
}

.articleCard {
  margin-bottom: 5px;
}

.categoryButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryButton {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.radioButton {
  display: inline-block;
}

.radioText {
  display: inline-block;
}

.sourceCard {
  margin-bottom: 5px;
  display:flex;
  align-items: center;
}

.articleImage {
  width: 33%;
  height: 100%;
  display: inline-block;
  padding-right: 5%;
  vertical-align: top;
}

.articleDetails {
  width: 67%;
  height: 100%;
  display: inline-block;
}

.articleTitle {
  display: inline-block;
  width: 50%
}

.articleAuthor {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.articleTitleAndAuthor {
  padding-bottom: 10px;
}

.sourceNameAndDescription {
  display: inline-block;
  width: 80%;
}

.sourceName {
  font-size: 24px;
  text-align: center;
  padding-bottom: 3%
}

.sourceButton {
  display: inline-block;
  padding-left: 2%;
  width: 20%;
}

.tabNames {
  float: right;
  padding-right: 20%;
}